{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

    <div class="profile-container">

        {% if sidebar.name %}
        <img alt="profile picture" class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}"/>
        {% endif %}

        {% if sidebar.name %}
        <h1 class="name">{{ sidebar.name }}</h1>
        {% endif %}

        <h3 class="tagline">{{ sidebar.tagline }}</h3>

    </div>

    {% include contact.html %}
    {% include skills.html %}

</div>
