body {
  font-family: 'Roboto', sans-serif;
  color: $text-color-secondary;
  background: $smoky-white;
  font-size: 3.5mm;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: darken($theme-color, 15%);

  &:hover {
    text-decoration: underline;
    color: darken($theme-color, 30%);
  }

  &:focus {
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

.wrapper {
  background: $theme-color;
  width: 210mm;
  min-height: 297mm;
  margin: 0 auto;
  position: relative;
  @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.sidebar-wrapper {
  background: $theme-color;
  position: absolute;
  right: 0;
  width: 65mm;
  height: 100%;
  color: #fff;

  a {
    color: #fff;
  }

  .profile-container {
    padding: 7.5mm;
    //background: darken($theme-color, 10%);
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
  }

  .name {
    font-size: 6mm;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 2.5mm;
    white-space: nowrap;
  }

  .tagline {
    color: rgba(256, 256, 256, 0.6);
    font-size: 4mm;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  .profile {
    margin-bottom: 7.5mm;
  }

  .avatar {
    max-width: 150px;
    margin-bottom: 25px;
    border: 0px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }


  .contact-list {
    margin-bottom: 0px !important;

    .fas, .fab, .far {
      margin-right: 5px;
      font-size: 16px;
      vertical-align: middle;

    }

    li {
      margin-bottom: 5px;
    }
  }


  .container-block {
    padding: 7.5mm;
    padding-bottom: 0px;
    padding-top: 7.5mm;
  }

  .container-block-title {
    text-transform: uppercase;
    font-size: 4mm;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .skills-container {
    .lang-desc {
      color: rgba(256, 256, 256, 0.6);
    }
  }
}

.main-wrapper {
  height: 100%;
  background: #fff;
  padding: 7.5mm;
  padding-right: 72.5mm;

  .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: darken($theme-color, 15%);
    position: relative;
    margin-top: 2mm;
    margin-bottom: 3mm;
  }


  .experiences-section, .educations-section {
    .item {
      margin-bottom: 3mm;

      .details {
        ul {
          margin-bottom: 0px;
        }
      }
    }
  }

  .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
  }

  .job-title, .degree {
    color: lighten($text-color, 15%);
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  .time {
    color: $text-grey;
    font-size: 3.5mm;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
  }

  .main-tools {
    color: lighten($text-color, 15%);
    font-size: 3mm;
    font-weight: bold;
  }

  .company, .university {
    color: $text-grey;
  }

}